body {
    background-color: #F4F1DE;
    padding: 0;
    margin: 0 auto;
}

.header {
    background-color: #E07A5F;
    position: relative;
    padding-top: 10px;
    padding-bottom: 35px;
}

.navigation {
    float: right;
    margin: 15px;
}

.navigation:hover {
    background-color: #81B29A;
}

#topImage {
    margin: 0 auto;
}

img {
    width: 100%;
    height: 100px;
    position: relative;
    margin-top: -14px;
}

.contentContainer {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
}

.leftSideTitle{
    display: flex;
    flex-basis: 29%;
    justify-content: center;
    border-right: solid;
    margin-right: auto;
}

#aboutMe{
    flex-basis: 70%;
}

#myWorkGrid {
    flex-basis: 50%;
    margin: 0px 10%;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
    "work1 work1 work1"
    "work1 work1 work1"
    "work2 work3 work4"
    ;
    grid-gap: 10px;

}
.myWorkGridArea {
    display: flex;

}


#work1 {
    grid-area: work1;
}
#work1:hover {
    cursor: pointer
}

#work2 {
    grid-area: work2;
}
#work3 {
    grid-area: work3;
}
#work4 {
    grid-area: work4;
}

#contactMe {
    flex-basis: 70%;
}

footer {
    background-color: #E07A5F;
    position: absolute;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 35px;
}